<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{company}}</h3>        
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> 
            <img alt="User Pic" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" 
                    class="img-circle img-responsive"> 
        </div>
        
        <div class=" col-md-9 col-lg-9 "> 
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>{{_companyLabel}}:</td>
                        <td>{{company}}</td>
                    </tr>
                    <tr>
                        <td>{{_registerDateLabel}}:</td>
                        <td>{{registerDate}}</td>
                    </tr>
                    <tr>
                        <td>{{_emailLabel}}:</td>
                        <td><a [href]="'mailto:' + login">{{login}}</a></td>
                    </tr>
                    <tr>
                        <td>{{_phoneNumberLabel}}:</td>
                        <td>{{mobilePhone}}</td>
                    </tr>
                </tbody>
            </table>
            
            <!--<a href="#" class="btn btn-primary">My Sales Performance</a>-->
        </div>
        </div>
    </div>
    <!--<div class="panel-footer">
    <a type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
        <span class="pull-right">
            <a href="#" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
        </span>
    </div>-->
            
</div>