<table *ngIf="!_registerSuccess" id="registerTable" style="width: 100%;">
<tr>
    <td style="width: auto;"></td>
    <td style="width: 350px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center">{{loginFormCaption}}</h3>
            </div>
            <div class="panel-body">
                <form>       
                                 
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input [(ngModel)]="_model.email"
                                type="text" 
                                class="form-control" 
                                [placeholder]="emailLabelText" required>
                    </div>       
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input [(ngModel)]="_model.companyName" 
                                type="text" class="form-control" 
                                [placeholder]="companyNameLabelText" required>
                    </div>           
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input [(ngModel)]="_model.password" 
                                type="password" class="form-control" 
                                [placeholder]="passLabelText" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input [(ngModel)]="_model.confirmPassword" 
                                type="password" class="form-control" 
                                [placeholder]="passConfirmLabelText" required>
                    </div>                    
                
                    <button (click)="send()" type="submit"
                            class="btn-success btn form-control" 
                            style="width: 320px; max-width: 400px;">
                            <span id="spinBtnRegister"><i class="fa fa fa-spinner fa-spin"></i></span>
                            {{btnSendTxt}}
                    </button>
                    
                </form>
            </div>
        </div>
        <div class="text-danger" id="validate-text-error">
            {{_validationError}}
        </div>
    </td>
    <td style="width: auto;"></td>
</tr>
</table>
<div *ngIf="_registerSuccess">
    check you email...
</div>

