<div *ngIf="isActiveWorkspacePan('controlPan')" class="row">
        <ctoc-sidebar [menu]="workspaceMenu" (selectedPage)="selectMenuItem($event)"></ctoc-sidebar>
        <ctoc-content
            [sidebarSelectedMenuItem]="sidebarSelectedMenuItem"
            [contentHeader]="sidebarSelectedMenuItem.TextItem">
        </ctoc-content>
</div>
<div *ngIf="isActiveWorkspacePan('profilePan')" class="row">
        <ctoc-sidebar [menu]="workspaceMenu" (selectedPage)="selectMenuItem($event)"></ctoc-sidebar>
        <ctoc-content 
            [sidebarSelectedMenuItem]="sidebarSelectedMenuItem"
            [contentHeader]="sidebarSelectedMenuItem.TextItem">
        </ctoc-content>
</div>
<!--<div class="row">
        <ctoc-sidebar [menu]="workspaceMenu" (selectedPage)="selectMenuItem($event)"></ctoc-sidebar>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Workspace</h1>
          {{sidebarSelectedMenuItem.TextItem}}
        </div>
</div>-->
